@tailwind base;
@tailwind components;
@tailwind utilities;

/* html body{
  font-family: 'Roboto Slab', serif;
  background-color: red;
} */
#projectSection>div {
  overflow-y: hidden; 
padding:25px;
}